.categoryTag {
  padding: 20px;
  margin: 5px;
  padding: 13px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  background: aliceblue;
  color: #0088ff;
  border: 0;
  padding: 0.6rem;
  border-radius: 5px;
}
