/** 
 * Variables
 */

// Colors
$color-base: #222;

// v1
$color-primary: #de360e;
$color-secondary: #ff3506; // #F7A046

// v2
$color-primary: #093990;
$color-secondary: #0271e8; // #F7A046

$color-white: #FFF;
$color-gray: lighten($color-base, 30%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 14.5px;
$typographic-small-font-size: 12.5px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 750px;
$layout-post-width: $layout-post-single-width; // $layout-post-width: $layout-post-single-width - 105px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
