.fbcommentContainer {
    background: #fff;
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;

    &__message {
        display: block;
        color: orange;
    }

    &:hover {
        &__message {
            color: red;
            display: block;
        }
    }
}