@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 30px;
  margin: 0 auto;

  &__date {
    margin: 0;
    color: #7a7a7a;
    line-height: 1.5;
    font-size: 15.5px;
    font-weight: 400;
    @include margin-bottom(1);
  }

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;

    @include line-height(1.65);
    @include margin-top(1.65);
    // @include margin-bottom(0);
    margin-bottom: 0 !important;
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5)
        }

      }

    }

    & a {
      text-decoration: underline
    }

    // & > * {
    //   max-width: $layout-post-width;
    //   margin-left: auto;
    //   margin-right: auto
    // }

    & img {
      max-width: 100%;
    }

    &>ul>li>p {
      margin-bottom: auto;
    }

  }

}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2.5;
      @include line-height(2.25);
      @include margin-top(4.25);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125)
      }

    }

  }

}
