@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    width: 90px;
    height: 35px;
    font-size: $typographic-base-font-size;
    padding: 0 16px;
    line-height: 35px;
    text-align: center;
    color: lighten($color-base, 20%);
    background: $color-gray-bg;
    font-weight: normal;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-base;
      background: darken($color-gray-bg, 5%);
      border: 0
    }

  }

}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      max-width: auto;
      position: fixed;
      margin: 0;
      top: 30px;
      left: 30px
    }

  }

}